<div class="jumbotron">
  <h1 class="display-4 text-white font-weight-bold">Modifier le potin <%= @user %>  !</h1>
    <p class="lead text-white font-weight-bold">Alors comme ça, on a changé d'avis ?</p>
</div>

</div>

<div class="row justify-content-center">
<div class="card create-potin" style="width: 40rem;">


  <div class="card-body">
    <blockquote class="blockquote mb-1">
      <%= form_tag url_for(action: 'update'), method: "patch" do %>

      <div class="row justify-content-center">
        <%= label_tag 'Nouveau titre' %>
      </div>
        
        <div class="row justify-content-center">
         <%= text_field_tag 'title' %>
        </div>

        <br>

        <div class="row justify-content-center">
         <%= label_tag 'Nouveau contenu' %>
        </div>
        
        <div class="row justify-content-center">
         <%= text_area_tag 'content' %>
        </div>
        <br /> <br />

        <div class="row justify-content-center">
         <%= submit_tag "Envoyer" %>
        </div>

      <% end %>
    </blockquote>
  </div>
</div>
</div>