<div class="jumbotron">
  <h1 class="display-4 text-white font-weight-bold">Potin complet</h1>
    <p class="lead text-white">Tous les détails. </p>
</div>




<div class="text-secondary row justify-content-center">
 <div class="card" style="width: 30rem;">
  <div class="card-header font-weight-bold text-center">
     <h3><%= @gossip.title %><h3>
  </div>
   <ul class="list-group list-group-flush">
    <li class="list-group-item text-center"><%= @gossip.content %>
    <li class="list-group-item text-center">Auteur : <%= link_to @gossip.user.first_name, user_path(@gossip.user.id) %>
    <li class="list-group-item text-center">Ville : <%= link_to @gossip.user.city.name, city_path(@gossip.user.city.id) %>
    </li>  
   </ul>
  </div>
</div>


   <br> 
    <p class="card-text text-center"><%= link_to "Modifier le potin", edit_gossip_path, class:"btn btn-outline-secondary" %> </p>
    <p class="card-text text-center"><%= link_to "Supprimer", gossip_path(@gossip.id), method: :delete, class:"btn btn-secondary"%></p>
  <br>
    <p class="card-text text-center"> <%= link_to "Revenir à la liste des potins", root_path %> </p>

<br>

<div class="row justify-content-center">
<div class="card create-potin" style="width: 58rem;">
  <div class="card-header">
    <h4>Laisser un commentaire</h4>
  </div>

  <br>

  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <%= form_tag url_for(controller: :comment, action: :create, id: @gossip.id), method: "post" do %>
        <%= label_tag '' %>
        <%= text_area_tag 'content' %>
        <br /> <br />
        <%= submit_tag "Ajouter un commentaire" %>
      <% end %>
    </blockquote>

    <br>

      <% @gossip.comments.each do |comment| %>
       <h5>Posté par <%= comment.user.first_name %> :</h5>
        <p><%= comment.content %>
        </p>
      <% end %>

  </div>
</div>
</div>

