
<br>

<div class="text-secondary row justify-content-center">
 <div class="card" style="width: 30rem;">
  <div class="card-header font-weight-bold text-center">
     <h3>Informations ville</h3>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item text-center"><%= @city.name %>
    </li>  
    <li class="list-group-item text-center">Code postal : <%= @city.zip_code%>
    </li>
  </ul>
  </div>
</div>

<br>
    <p class="card-text text-center"> <%= link_to "Revenir à la liste des potins", root_path %> 

<br>
<br>

  <h3>Voici tous les potins de la ville <%= @city.name %></h3>

<div class="row">
  <% @gossips_city.each do |gossip| %>
    <div class="col-sm-4" style="padding: 30px">
      <div class="card">
        <div class="card-header">
          <h4><%= gossip.title %></h4>
        </div>
        <div class="card-body">
          <h5 class="card-title">A été écrit par <%= gossip.user.first_name %></h5>
          <%= link_to "En savoir plus...", gossip_path(gossip.id), class:"btn btn-outline-secondary" %>
          <% if gossip.likes.where(user_id: current_user).count > 0 %>
            <%= link_to "Dislike", like_path(:id => gossip.likes.sample), method: :delete, class:"btn btn-secondary" %>
          <% else %>
            <%= link_to "like", like_index_path(:id => gossip.id), method: :post, class:"btn btn-secondary" %>
          <% end %>
          <%= gossip.likes.count %>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
